.header {
  position: relative;
}

.header__background {
  min-width: 100%;
}

.header__background img {
  object-fit: cover;
  height: 100svh;
}

.header__title {
  position: absolute;
  color: var(--white);
  top: 20%;
  left: 50%;
  margin-block-start: 4rem;

  transform: translateX(-50%);
  text-transform: uppercase;
  text-align: center;
}

.header__title h1 {
  font-weight: 900;

  letter-spacing: 0.75rem;
  font-size: 1.5rem;
}

.header__arrow {
  margin-block-start: 6rem;
  margin-inline: auto;
  min-width: 2.5rem;
}

@media (min-width: 376px) {
  .header__title h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 764px) {
  
  .header__title h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1440px) {
  .header__background img {
  
    height: auto;
  }
  
}
