.testimonials {
  margin-block: 4rem;
  text-align: center;
}

.testimonials h4 {
  text-transform: uppercase; 
  letter-spacing: .25rem; 

  color: var(--blue-gray)
}

.testimonials__testimonies {
  display: flex;

  flex-flow: row wrap;

  margin-block-start: 4rem;
  padding-inline: 1rem;

  justify-content: space-evenly;
}

@media (min-width: 764px) {

  .testimonials {
    margin-block: 8rem;
  }

  .testimonials h4 {
    letter-spacing: .35rem;
  }

  .testimonials__testimonies {
    padding-inline: 15rem;

  }
}