@import url('fonts.css');

:root {
  font-size: 18px;
  font-family: "Barlow";

  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  
  
  --dark-cyan-desat: hsl(167, 40%, 24%);
  --dark-cyan-mod: hsl(168, 34%, 41%);

  --dark-cyan-mod-op-50: hsl(167, 65%, 45%, .5);
  --dark-blue: hsl(198, 62%, 26%);
  
  --dark-blue-desat: hsl(212, 27%, 19%);
  --dark-blue-desat-gray: hsl(213, 9%, 39%);
  --dark-blue-gray: hsl(232, 10%, 55%);
  --blue-gray: hsl(210, 4%, 67%);

  --white: hsl(0, 0%, 100%);

  --white-op-50: hsl(0, 0%, 100%, .25);
  --white-op-75: hsl(0, 0%, 100%, .50);
}

a {
  text-decoration: none;
  color: green;
}

a:link {
  color: green;
}

a:visited {
  color: var(--soft-red)
}